In [7]:
import tensorflow

import pandas as pd

file = pd.read_csv('populacao_brasileira.csv')

df = pd.DataFrame(file)

display(df)

    ano;population
0   1980;119011052
1   1981;121154159
2   1982;123774229
3   1983;126403352
4   1984;129025577
5   1985;131639272
6   1986;134228492
7   1987;136780739
8   1988;139280140
9   1989;141714953
10  1990;144090756
11  1991;146825475
12  1992;148684120
13  1993;151556521
14  1994;153726463
15  1995;155822296
16  1996;157070163
17  1997;159636297
18  1998;161790182
19  1999;163947436
20  2000;169799170
21  2001;172385776
22  2002;174632932
23  2003;176876251
24  2004;179108134
25  2005;184184074
26  2006;186770613
27  2007;189335191
28  2008;189612814
29  2009;191481045
30  2010;190755799
31  2011;192379287
32  2012;193976530
33  2013;201062789
34  2014;202799518
35  2015;204482459
36  2016;206114067

In [8]:
import tensorflow

print('Hello World')

Hello World

In [9]:
import os

print(os.path.abspath('.'))

c:\Users\Papa Capim\OneDrive - lucasas1\√Årea de Trabalho\curso

In [10]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [7]:
a = []

type(a)

list

In [9]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [10]:
a = [1,'a',3,4,5]
a

[1, 'a', 3, 4, 5]

In [1]:
lista = ['this','is', 'a list']
lista

['this', 'is', 'a list']

In [7]:
n = [1,2,3,4,5,6,7,8,9,10]

n[:6]
n[2:6]

[3, 4, 5, 6]

In [8]:
a = [123,345]
b = ['hello', 'world']
a + b

[123, 345, 'hello', 'world']

In [10]:
b = ['hello', 'world','hello', 'world','hello', 'world','hello', 'world','hello', 'world']
b.count('hello')

5

In [11]:
b

['hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world']

In [13]:
b.append('forest')
b

['hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'hello',
 'world',
 'forest',
 'forest']

In [15]:
c = [5,6,9,8,2,1,3,6,4,5]
d = sorted(c)
d

[1, 2, 3, 4, 5, 5, 6, 6, 8, 9]

In [2]:
a = int(1)
b = int(2)
c = a+b

print(c)

3